<h2>Modifier une question</h2><br>



<div class="table-responsive">
    <table id="listeQuestions" class="table table-striped table-dark"  cellspacing="1">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Categorie</th>
                <th scope="col">Question</th>
                <th scope="col">Reponse 1</th>
                <th scope="col">Reponse 2</th>
                <th scope="col">Reponse 3</th>
                <th scope="col">Reponse 4</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modalModif" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" style="color:rgb(67, 34, 56);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Modification de la question</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <form id="myFormModif" action="#" method="POST">
                    <div class="form-group">
                        <label for="idModif">Identifiant</label>
                        <input class="form-control" type="text" name="idModif" id="idModif" placeholder="Identifiant" required>
                    </div>
                    <div class="form-group">
                        <label for="titreModif">Titre</label>
                        <input class="form-control" type="text" name="titreModif" id="titreModif" placeholder="Titre" required>
                    </div>
                    <div class="form-group">
                        <label for="questionModif">Question:</label>
                        <input class="form-control" type="text" name="questionModif" id="questionModif" placeholder="Question" required>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="reponse1Modif">Réponse 1:</label>
                            <input class="form-control false" type="text" name="reponse1Modif" id="reponse1Modif" placeholder="Réponse 1" >
                            <select class="form-control" name="true1Modif" id="true1Modif">
                                <option value="0">Réponse Fausse</option>
                                <option value="1">Réponse Vraie</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="reponse2Modif">Réponse 2:</label>
                            <input class="form-control false" type="text" name="reponse2Modif" id="reponse2Modif" placeholder="Réponse 2" >
                            <select  class="form-control" name="true2Modif" id="true2Modif">
                                <option value="0">Réponse Fausse</option>
                                <option value="1">Réponse Vraie</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="reponse3Modif">Réponse 3:</label>
                            <input class="form-control false" type="text" name="reponse3Modif" id="reponse3Modif" placeholder="Réponse 3" >
                            <select class="form-control" name="true3Modif" id="true3Modif">
                                <option value="0">Réponse Fausse</option>
                                <option value="1">Réponse Vraie</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="reponse4Modif">Réponse 4:</label>
                            <input class="form-control false" type="text" name="reponse4Modif" id="reponse4Modif" placeholder="Réponse 4" >
                            <select class="form-control" name="true4Modif" id="true4Modif">
                                <option value="0">Réponse Fausse</option>
                                <option value="1">Réponse Vraie</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-around modal-footer">
                        <button id="modif" type="submit" class="btn btn-primary col-md-5">Modifier</button>
                        <button type="button"  id="dismiss" class="btn btn-secondary col-md-5" data-dismiss="modal">Fermer</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>